body {
  margin: 0; 
  padding: 0; 
  font-family: 'Great Vibes', cursive;
  height: 100%;
  width: 100%;
  background-image: url("../Images/background4.png"); 
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  body {
    background-image: url("../Images/background5.png"); /
    background-size: cover;  
    background-position: center center; 
    background-attachment: fixed; 
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
  width: 100%; 
  justify-content: center; 
  align-items: center;
  padding: 20px; 
  box-sizing: border-box; 
}

.content {
  text-align: center;
  padding: 5% 50px; /* Reduced padding for better mobile f
